PAGINA AHORRO PERRUNO

.tabla1perruno {
width: 100%;

}

.categoria-ahorroperruno {
  position: relative;
  padding: 20px;

}

.producto-categoria1{
  padding: 0 10vw;
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #ae1a0a;
  font-family: sans-serif;
 }
 
 .contenedor-productos1{
  padding: 0 10vw;
  display: flex;
 }
 
  
 .productos.card1 {
   flex: 0 0 auto;
   width: 250px;
   height: 450px;
   margin-right: 40px;
 }
 
 .imagen-producto1{
   position: absolute;
   width: 200px;
   height: 200px;
   overflow: hidden;
   margin: auto;
 }
 
 .product-thumb1{
   width: 200px;
   height: 200px;
   object-fit: cover;
   margin-left: 140px;
  
 }
 
 .discount-tag1{
   position: absolute;
   background: rgb(122, 8, 150) ;
   padding: 5px;
   border-radius: 25px;
   color: white;
   right: 10px;
   top: 30px;
   text-transform: capitalize;
   font-family: sans-serif;
 }
 
 .ahorro-tag1{
   position: absolute;
   background: rgb(192, 158, 201);
   padding: 5px;
   border-radius: 25px;
   color: white;
   left: 70px;
   top: 30px;
   font-family: sans-serif;
 }
 
 .card-btn1 {
   position: absolute;
   bottom: 10px;
   left: 50%;
   padding: 10px;
   width: 90%;
   text-transform: capitalize;
   border: none;
   outline: none;
   background: white;
   border-radius: 5px;
   transition: 0.5s;
   cursor: pointer;
   opacity: 0;
 }
 
 .productos-card1:hover .card-btn{
   opacity: 1;
 }
 
 .card-btn1:hover {
   background: rgb(174, 26, 10);
   color: whitesmoke;
 }
 
 .info-producto1{
   width: 100%;
   height: 100%;
   padding-bottom: 50px;

 }
 
 .marca-producto1{
   text-transform: uppercase;
   font-family: sans-serif;
   font-size: 15px;
   text-align: center;
   color: rgb(174, 26, 10);
 }
 
 .descripcion-producto1{
   width: 100%;
   height: 20px;
   line-height: 20px;
   overflow: hidden;
   opacity: 0.5;
   text-transform: capitalize;
   margin: 0px 0;
   text-align: center;
 }
 
 .precio1{
   font-weight: 900;
   font-size: 20px;
   color: red;
   text-align: center;
   align-items: center;
 
 }
 
 .precio-actual1{
   margin-left: 20px;
   opacity: 0.5;
   text-decoration: line-through;
   text-align: center;
  
 }
 
 .imagen-producto1{
   position: relative;
   width: 100%;
   height: 350px;
   overflow: hidden;
   margin: auto;
 }


 .cajaperruno{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  margin: auto;
  text-align: center;
  margin-right: 100px;

  }

  .cajaperruno1 {
    color: black;
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
  
  }
